body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: black;    
}

h1{
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.greenlink{
    font-size: 16px;
    color: aquamarine;
}

.whitetitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300px;
    font-size: 42px;
}

.graytext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 21px;
    color: gray;
}